# vs
Client_QT/.vs/
Client_QT/EnglishLearner/EnglishLearner.vcxproj.user
.vs/

# vscode
.vscode/

#idea
Server/.idea/

#gradle
.gradle_home/

#Debug
Client_QT/x64/
Client_QT/EnglishLearner/x64/

#data
Client_QT/EnglishLearner/english_learning.db
开发进度.md
.commit_message.txt

# backend
Server/.gradle/
Server/bin/
Server/build/
Server/data/
Server/*.log

# web
Web/node_modules/
Web/dist/
Web/.env
